[dev-packages]
pytest = "*"
requests = "*"
requests-aws4auth = "*"
pytest-asyncio = "*"
aws-xray-sdk = "*"
aiohttp="*"

[packages]
aioboto3 = "*"
netaddr="*"
untangle = "*"
pytz = "*"

[requires]
python_version = "3.7"
