#!/bin/sh

startTime=$(date -u +%FT%TZ)
output=$SCAN_REQUEST_ID-$startTime-nmap.xml
archive=$SCAN_REQUEST_ID-$startTime-nmap.xml.tar.gz

echo Performing scan at $startTime

set -x

# Do the nmap
nmap -oX /var/tmp/$output "$@" $NMAP_TARGET_STRING
tar -C /var/tmp -czvf $archive $output

# Upload results
aws s3 cp $archive s3://${bucket_name}/