#!/bin/sh

startTime=$(date -u +%FT%TZ)
output=$MESSAGE_ID-$startTime-nmap.xml
archive=$MESSAGE_ID-$startTime-nmap.xml.tar.gz

echo Performing scan at $startTime

set -x

# Do the nmap
nmap -oX /var/tmp/$output "$@" $HOST_TO_SCAN
tar -C /var/tmp -czvf $archive $output

# Upload results
aws s3 cp $archive s3://${bucket_name}/